/* Doxy pretty-printing styles. Used with prettify.js.  */

pre.doxy.prettyprint,
code.doxy.prettyprint {
    font-family:'Droid Sans Mono','CPMono_v07 Bold','Droid Sans';
    font-weight: bold;
    font-size: 9pt;
    background-color: #0f0f0f;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    width: 95%;
    margin: 1em auto;
    padding: 1em;
    white-space: pre-wrap;

    a {
      text-decoration: none;
    }

    .str { color: #fec243; } /* string  - eggyolk gold */
    .kwd { color: #8470FF; } /* keyword - light slate blue */
    .com { color: #32cd32; font-style: italic; } /* comment - green */
    .typ { color: #6ecbcc; } /* type - turq green */
    .lit { color: #d06; } /* literal - cherry red */
    .pun { color: #8B8970;  } /* punctuation - lemon chiffon4  */
    .pln { color: #f0f0f0; } /* plaintext - white */
    .tag { color: #9c9cff; } /* html/xml tag  (bluey)  */
    .htm { color: #dda0dd; } /* html tag  light purply*/
    .xsl { color: #d0a0d0; } /* xslt tag  light purply*/
    .atn { color: #46eeee; font-weight: normal;} /* html/xml attribute name  - lt turquoise */
    .atv { color: #EEB4B4; } /* html/xml attribute value - rosy brown2 */
    .dec { color: #3387CC; } /* decimal - blue */

    /* Specify class=linenums on a pre to get line numbering; line numbers themselves are the same color as punctuation */
    ol.linenums { margin-top: 0; margin-bottom: 0; color: #8B8970; } /* IE indents via margin-left */
    li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
    /* Alternate shading for lines */
    li.L1,li.L3,li.L5,li.L7,li.L9 { }

    /* print is mostly unchanged from default at present  */
    @media print {
        & { background-color: #fff;
            .str { color: #088; }
            .kwd { color: #006; font-weight: bold; }
            .com { color: #oc3; font-style: italic; }
            .typ { color: #404; font-weight: bold; }
            .lit { color: #044; }
            .pun { color: #440; }
            .pln { color: #000; }
            .tag { color: #b66ff7; font-weight: bold; }
            .htm { color: #606; font-weight: bold; }
            .xsl { color: #606; font-weight: bold; }
            .atn { color: #c71585;  font-weight: normal; }
            .atv { color: #088;  font-weight: normal; }
        }
    }

}  /*  background is black (well, just a tad less dark )  */



