/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */
pre.sunburst.prettyprint,
code.sunburst.prettyprint {
  background-color: #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
  /* string  - green */
  /* keyword - dark pink */
  /* comment - gray */
  /* type - light blue */
  /* literal - blue */
  /* punctuation - white */
  /* plaintext - white */
  /* html/xml tag    - light blue */
  /* html/xml attribute name  - khaki */
  /* html/xml attribute value - green */
  /* decimal - blue */
  /* Specify class=linenums on a pre to get line numbering */
  /* IE indents via margin-left */
  /* Alternate shading for lines */ }
  pre.sunburst.prettyprint .str,
  code.sunburst.prettyprint .str {
    color: #65B042; }
  pre.sunburst.prettyprint .kwd,
  code.sunburst.prettyprint .kwd {
    color: #E28964; }
  pre.sunburst.prettyprint .com,
  code.sunburst.prettyprint .com {
    color: #AEAEAE;
    font-style: italic; }
  pre.sunburst.prettyprint .typ,
  code.sunburst.prettyprint .typ {
    color: #89bdff; }
  pre.sunburst.prettyprint .lit,
  code.sunburst.prettyprint .lit {
    color: #3387CC; }
  pre.sunburst.prettyprint .pun,
  code.sunburst.prettyprint .pun {
    color: #fff; }
  pre.sunburst.prettyprint .pln,
  code.sunburst.prettyprint .pln {
    color: #fff; }
  pre.sunburst.prettyprint .tag,
  code.sunburst.prettyprint .tag {
    color: #89bdff; }
  pre.sunburst.prettyprint .atn,
  code.sunburst.prettyprint .atn {
    color: #bdb76b; }
  pre.sunburst.prettyprint .atv,
  code.sunburst.prettyprint .atv {
    color: #65B042; }
  pre.sunburst.prettyprint .dec,
  code.sunburst.prettyprint .dec {
    color: #3387CC; }
  pre.sunburst.prettyprint ol.linenums,
  code.sunburst.prettyprint ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE; }
  pre.sunburst.prettyprint li.L0, pre.sunburst.prettyprint li.L1, pre.sunburst.prettyprint li.L2, pre.sunburst.prettyprint li.L3, pre.sunburst.prettyprint li.L5, pre.sunburst.prettyprint li.L6, pre.sunburst.prettyprint li.L7, pre.sunburst.prettyprint li.L8,
  code.sunburst.prettyprint li.L0,
  code.sunburst.prettyprint li.L1,
  code.sunburst.prettyprint li.L2,
  code.sunburst.prettyprint li.L3,
  code.sunburst.prettyprint li.L5,
  code.sunburst.prettyprint li.L6,
  code.sunburst.prettyprint li.L7,
  code.sunburst.prettyprint li.L8 {
    list-style-type: none; }
  @media print {
    pre.sunburst.prettyprint .str,
    code.sunburst.prettyprint .str {
      color: #060; }
    pre.sunburst.prettyprint .kwd,
    code.sunburst.prettyprint .kwd {
      color: #006;
      font-weight: bold; }
    pre.sunburst.prettyprint .com,
    code.sunburst.prettyprint .com {
      color: #600;
      font-style: italic; }
    pre.sunburst.prettyprint .typ,
    code.sunburst.prettyprint .typ {
      color: #404;
      font-weight: bold; }
    pre.sunburst.prettyprint .lit,
    code.sunburst.prettyprint .lit {
      color: #044; }
    pre.sunburst.prettyprint .pun,
    code.sunburst.prettyprint .pun {
      color: #440; }
    pre.sunburst.prettyprint .pln,
    code.sunburst.prettyprint .pln {
      color: #000; }
    pre.sunburst.prettyprint .tag,
    code.sunburst.prettyprint .tag {
      color: #006;
      font-weight: bold; }
    pre.sunburst.prettyprint .atn,
    code.sunburst.prettyprint .atn {
      color: #404; }
    pre.sunburst.prettyprint .atv,
    code.sunburst.prettyprint .atv {
      color: #060; } }

/*# sourceMappingURL=sunburst.css.map */
